# General
.DS_Store
.idea

MachineLearningPlatforms/Kubeflow/HelloKubeflow_light/venv
MachineLearningPlatforms/Kubeflow/HelloKubeflow_light/src/HelloKubeflow.egg-info
MachineLearningPlatforms/Kubeflow/HelloKubeflow_light/tests
MachineLearningPlatforms/Kubeflow/HelloKubeflow_light/.pytest_cache
