# General
.DS_Store
.idea
*.pyc
__init__.py

MachineLearningPlatforms/Kubeflow/base/env
MachineLearningPlatforms/Kubeflow/base/pipelines/hellokubeflow.egg-info
MachineLearningPlatforms/Kubeflow/base/__init__.py
MachineLearningPlatforms/Kubeflow/base/tests
MachineLearningPlatforms/Kubeflow/base/.pytest_cache
MachineLearningPlatforms/Kubeflow/ml-components/.ipynb_checkpoints
MachineLearningPlatforms/Kubeflow/ml-components/women_clothing_ecom_reviews/data/.ipynb_checkpoints
MachineLearningPlatforms/Kubeflow/ml-components/women_clothing_ecom_reviews/data/interim/.ipynb_checkpoints/
MachineLearningPlatforms/Kubeflow/ml-components/women_clothing_ecom_reviews/notebooks/.ipynb_checkpoints
MachineLearningPlatforms/Kubeflow/ml-components/women_clothing_ecom_reviews/pipeline/components/data_collection/kaggle.json